.container-fluid
  .row
    .col
      .card.shadow-lg.m-5
        .card-header.border-1
          .row.align-items-center
            %h1.card-title.text-center.ml-3 Patients
            .col.text-right.pr-5
              %a.btn.btn-sm.btn-primary.font-weight-bold{:href => new_patient_path}
                Add
          .table-responsive
            %table#admin-users-table.table.align-items-center.table-flush.mb-0
              %thead.thead-light
                %tr
                  %th Patient First Name
                  %th Patient Last Name
                  %th Collector Name
                  %th Physician Name
                  %th Action
              %tbody
                - if @patients.blank?
                  %tr.text-center
                    %td.text-danger{colspan: '7'} No Patient found
                - else
                  - @patients.each do |user|
                    %tr
                      %td.font.text-underline
                        = link_to user.p_first_name, patient_path(user.id)
                      %td.font.text-underline
                        = link_to user.p_last_name, patient_path(user.id)
                      %td.font.text-underline
                        = user.col_name
                      %td
                        = user.phy_first_name + user.phy_last_name
                      %td
                        %a.ml-1.text-primary{href:  patient_path(user.id),
                                             data: {toggle: 'tooltip', placement: 'top'}, title: 'Show Admin'}
                          %span Show
                        %a.ml-1.text-primary{href: edit_patient_path(user.id),
                                             data: {toggle: 'tooltip', placement: 'top'}, title: 'Edit Admin'}
                          %span Edit
                        %a.ml-1.text-danger.remote-link{href:  patient_path(user.id),
                                                        title: 'Delete Admin',
                                                        data: { remote: 'true', toggle: 'tooltip', placement: 'top',
                                                                method: :delete, confirm: 'Are you sure?'}}
                          %span Delete